/**
 * Basic elements
 */

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, p, li{
  font-family: "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
  line-height: 1.2;
}


h2, h3, h4, h5{
  line-height: 1.2;
}

p, li{
  line-height: 1.7;
  font-size: 1.25rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.44rem;
  margin-top: 60px;
}

h3{
  font-size: 2rem;
  margin-top: 45px;
}

h4{
  font-size: 1.5rem;
  margin-top: 30px;
  margin-block-end: 15px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    text-align: right;

}

/**
 * New elements
 */
.highlighter-rouge .highlight pre.highlight {
    overflow: auto;
}

p > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
li > code {
  background-color: #f3f4f4;
  padding: 0 2px 0 2px;
  color: rgb(51, 51, 51);
}

blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777777;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/**
 * Posts
 */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



/**
 * My classes
 */
.ribbon {
  height: 200px;
  background-color: #001F3E;
  vertical-align: middle;
  color: white
}

.nav_bar {
  border-bottom: 1px solid #d5d5d5;
  text-align: right;
  font-size: 1.5em;
}
